!! xrdb ~./Xresources per aggiornare

!! Colorscheme

! special
*.foreground:   #8baaaa
*.background:   #000000
*.cursorColor:  #8baaaa

! black
*.color0:       #242e34
*.color8:       #1b282f

! red
*.color1:       #bb5858
*.color9:       #d70a53

! green
*.color2:       #819400
*.color10:      #a4bd00

! yellow
*.color3:       #b08500
*.color11:      #d9a400

! blue
*.color4:       #2587cc
*.color12:      #2ca2f5

! magenta
*.color5:       #696ebf
*.color13:      #8086e8

! cyan
*.color6:       #289c93
*.color14:      #33c5ba

! white
*.color7:       #bfbaac
*.color15:      #fdf6e3

!! Global

!! st
st.alpha: 0.65
st.termname: st-256color
st.cursorColor: #8baaaa
st.rcursorColor: white
!st.shell:
st.minlatency: 8
st.maxlatency: 33
st.blinktimeout: 800
st.bellvolume: 100
st.tabspaces: 8
st.borderpx: 5
st.cwscale: 1.0
st.chscale: 1.0
st.dclicktimeout: 300
st.tclicktimeout: 600
st.cursorthickness: 2
st.cursorstyle: 3
st.columns: 80
st.rows: 24
st.mousefg: 7
st.mousebg: 0
st.fallbackfontcolor: 11
st.selectionbg: #8baaaa
st.selectionfg: #ffffff
st.ignoreselfg: 1

!! URxvt Appearance
URxvt.font: xft:Iosevka:style=Regular:size=8, xft:NotoColorEmoji:style=Regular:size=8
URxvt.boldFont: xft:Iosevka:style=Bold:size=8
URxvt.italicFont: xft:Iosevka:style=Italic:size=8
URxvt.boldItalicfont: xft:Iosevka:style=Bold Italic:size=8
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 5
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
!! Fake transparency
!!URxvt.transparent: true
!!URxvt.shading: 40
!! Real transparency
URxvt.depth:32
URxvt.background: [65]#000000

urxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed
!! Common Keybinds for Navigations
!! shift+up go up
!! shift+down go down
!! ctrl+left go prev word
!! ctrl+right go next word
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
